body{background-color: gray;}
#cardHolder{
    display: flex;
    flex-wrap: wrap;
    width:100%

}
.mainTitle{color: white; text-align: center;}
.card{width:200px; height: 200x; background-color:white;padding:50px;margin:50px; text-align: center;}
.dogPic{max-width:200px; display:block;}

